<body>
  <main>
    <h3>Age:</h3>
    <p>{{p.age}}</p>
    <h3>Pumps Per Week:</h3>
    <p>{{p.freq}}</p>
    <h3>About Me:</h3>
    <p>{{p.about}}</p>
<h3>I'm Looking For:</h3>
    <p>{{p.search}}</p>
    <h3>My Go To Work Out Song:</h3>
    <p>{{p.song}}</p>
  </main>

  <!-- Only include the logout script if the user is logged in -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
