<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVC Project Template</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      {{{name}}}
    </h1>
    <!-- Only display the logout button if the user is logged in -->
    {{#if logged_in}}
    <nav>
      <button class="btn" id="logout">logout</button>
    </nav>
    {{/if}}
  </header>
  <main>
    <h3>Age:</h3>
    <p>{{{age}}}</p>
    <h3>Pumps Per Week:</h3>
    <p>{{{freq}}}</p>
    <h3>About Me:</h3>
    <p>{{{about}}}</p>
<h3>I'm Looking For:</h3>
    <p>{{{search}}}</p>
    <h3>My Go To Work Out Song:</h3>
    <p>{{{song}}}</p>
  </main>
  <footer>
      
  </footer>

  <!-- Only include the logout script if the user is logged in -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>